.navbar-item-custom , .navbar-item-custom a {
    color: #fff ;
}

nav.navbar.navbar-expand-md.navbar-dark.fixed-top { 
    background-color: black;
}

body {
    position: relative;
}

main {
    min-height: 100vh;
}

.footer-custom {
    text-align: center;
    position: absolute;
    width: 100%;
    color: #fff;
    background-color: black;
    padding-top: 5px;
    margin-top: 50px;
}

.product-item {
    margin-top: 50px;
    text-align: center;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 250px;
}


.product-page-price {
    font-size: 18px;
    margin-top: 10px;
}

.cart-icon {
    height: 20px;
    padding-left: 20px;
}

.cart-icon2 {
    height: 25px;
    margin-left: 5px;
}

.block-small {
    max-width: 600px;
    margin: 0 auto;
}

.form-check{
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;

}
.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: #f4f8ff ;
    padding: 20px;
    margin-top: 22px;
}

.bouge {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.account-item {
    background-color: #f1f2f6;
    padding: 70px;
}

.account-item a {
    text-transform: uppercase;
    font-size: 13px;
    color: #4b6584;
    font-weight: bold;
}
.account-item a:hover {
    color: #778ca3;
    text-decoration: none;
}

.text {
    text-align: center;
}

.row{
    justify-content: center;
}

.img {
    margin-bottom: 10px;
}

img.logo { 
    max-height: 130px;
}

.btn-info{
    margin-top: 10px;
}

p {
    margin-bottom: 10px;
    font-size: small;
}